/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set the background color and font styles */
body {
  background-color: white;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

h2 {
  text-align: center;
} 

#h2 {
  font-size: 60px;
  font-weight: 700;
  margin-top: -60px
}
#head-p {
  font-size: 25px;
  font-weight: 400;
}

/* Center the content on the page */
#main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #dcdcdc;
  padding-top: 80px;
  padding-bottom: 20px;
}

/* Set the width and margin of the main container */
.main-container {
  /* height: 50%; */
  width: 90%;
  /* max-width: 800px; */
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style the title */
#title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Style the image container */
#img-div {
  text-align: center;
  margin-bottom: 20px;
}

/* Style the image */
#image {
  width: 85%;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  filter: grayscale(90%) contrast(100%);
}

/* Style the image caption */
#img-caption {
  font-style: italic;
  text-align: center;
  color: #777;
  margin-top: 10px;
}

#bottom-info {
  padding-top: 40px;
  padding-bottom: 20px;
}

/* Style the tribute info */
#tribute-info {
  margin-bottom: 30px;
  text-align: justify;
}

/* Style the highlights list */
#tribute-info ul {
  margin: 20px 0;
  padding: 0 20px;
}

#tribute-info li {
  margin-bottom: 10px;
}

/* Style the quote */
#tribute-info p:last-child {
  font-style: italic;
  text-align: center;
  color: #777;
  margin-top: 15px;
}

/* Style the tribute link */
#tribute-link {
  /* display: block; */
  /* text-align: center; */
  margin-top: 20px;
  /* font-size: 24px; */
  text-decoration: none;
  color: #4c516d;
  font-weight: bold;
}

#tribute-link:hover {
  text-decoration: underline;
  color: #465945;
}